<header>
  <nav class="navbar navbar-dark bg-dark w-100">
    <div class="me-2 ms-0 p-1 ps-2 w-100 pt-2">
      <div class="row w-100 pe-4">
        <div style="width: 90%;">
          <label class="logo">FOCUS-FIT</label>
        </div>
        <div style="width: 5%;">
          <img src="../assets/img/people_1.png" alt="Imagen usuario" width="80%" style="cursor: pointer;">
        </div>
        <div style="width: 5%;">
          <img src="../assets/img/close.png" alt="Imagen cerrar" width="80%" style="cursor: pointer;">
        </div>
      </div>
    </div>
  </nav>
</header>
<div id="wrapper" class="color-fondo fondo" >
  <main class="container-fluid">
    <div class="row pt-5">
      <div class="col-12">
        <app-routine-list></app-routine-list>
      </div>
    </div>
  </main>
</div>
