<div class="row justify-content-center over-flow">
  <div class="col-11 color-fondo mt-3 mb-2 shadow-tabla">
    <div class="row pt-3">
      <div class="col-12"><a class="texto-mini" href="">Atrás</a></div>
    </div>
    <div class="row pt-4">
      <div class="col-6 pe-4">
        <div class="row">
          <div class="col-7">
            <h1 class="letra-titulos">Rutina 1</h1>
          </div>
          <div class="col-3 text-end">
            <a class="btn btn-primary boto-crear pt-1 pb-1" role="button"
              >Despublicar</a
            >
          </div>
          <div class="col-1">
            <img
              src="../../assets/img/Editar.png"
              alt="Editar"
              class="img-min"
              data-bs-toggle="modal"
              href="#mod-edit"
              role="button"
            />
          </div>
          <div class="col-1">
            <img
              src="../../assets/img/eliminar.png"
              alt="Eliminar"
              class="img-min"
              data-bs-toggle="modal"
              href="#mod-del"
              role="button"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-start">
            <span class="badge bg-info p-1">Publicada</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-start">
            <label class="texto-mini"
              >Publicada el 9 de Septiembre del 2023 a las 3:38 p.m. por
              administrador</label
            >
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-12 text-start">
            <label class="color-blanco">
              Rutina creada para el fortalecimiento de los musculos de los
              extremos inferiores.</label
            >
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <h1 class="color-blanco">Series</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="row shadow-oscuro m-4 p-4">
          <div class="col-6">
            <div class="row justify-content-center pt-2 ps-1 ms-1">
              <div class="row p-0">
                <div class="col-12 text-start">
                  <label class="color-blanco">Cantidad</label>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-4 p-0">
                  <input
                    type="number"
                    min="0"
                    max="99"
                    class="w-100 form-control text-center"
                    disabled="disabled"
                    value="5"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-12 text-start">
                <label class="color-blanco">Tiempo</label>
              </div>
            </div>
            <div class="row pt-2">
              <div class="col-5">
                <div class="row">
                  <div class="col-6 p-1">
                    <input
                      type="number"
                      min="0"
                      max="59"
                      class="w-100 form-control text-center"
                      disabled="disabled"
                      value="0"
                    />
                  </div>
                  <div class="col-6 p-1">
                    <input
                      type="number"
                      min="0"
                      max="59"
                      class="w-100 form-control text-center"
                      disabled="disabled"
                      value="5"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-center">
                    <label class="texto-mini">Minutos</label>
                  </div>
                </div>
              </div>
              <div class="col-1">
                <label class="texto-mini p-0 pt-3">:</label>
              </div>
              <div class="col-5">
                <div class="row">
                  <div class="col-6 p-1">
                    <input
                      type="number"
                      min="0"
                      max="59"
                      class="w-100 form-control text-center"
                      disabled="disabled"
                      value="0"
                    />
                  </div>
                  <div class="col-6 p-1">
                    <input
                      type="number"
                      min="0"
                      max="59"
                      class="w-100 form-control text-center"
                      disabled="disabled"
                      value="0"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-center">
                    <label class="texto-mini">Segundos</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-5">
            <div class="col-6">
              <div class="row justify-content-center pt-2 ps-1 ms-1">
                <div class="row p-0">
                  <div class="col-12 text-start">
                    <label class="color-blanco">No. Descansos</label>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-4 p-0">
                    <input
                      type="number"
                      min="0"
                      max="99"
                      class="w-100 form-control text-center"
                      disabled="disabled"
                      value="5"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-12 text-start">
                  <label class="color-blanco">Tiempo de descanso</label>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-5">
                  <div class="row">
                    <div class="col-6 p-1">
                      <input
                        type="number"
                        min="0"
                        max="59"
                        class="w-100 form-control text-center"
                        disabled="disabled"
                        value="0"
                      />
                    </div>
                    <div class="col-6 p-1">
                      <input
                        type="number"
                        min="0"
                        max="59"
                        class="w-100 form-control text-center"
                        disabled="disabled"
                        value="1"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center">
                      <label class="texto-mini">Minutos</label>
                    </div>
                  </div>
                </div>
                <div class="col-1">
                  <label class="texto-mini p-0 pt-3">:</label>
                </div>
                <div class="col-5">
                  <div class="row">
                    <div class="col-6 p-1">
                      <input
                        type="number"
                        min="0"
                        max="59"
                        class="w-100 form-control text-center"
                        disabled="disabled"
                        value="0"
                      />
                    </div>
                    <div class="col-6 p-1">
                      <input
                        type="number"
                        min="0"
                        max="59"
                        class="w-100 form-control text-center"
                        disabled="disabled"
                        value="0"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center">
                      <label class="texto-mini">Segundos</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 pt-3">
              <div class="row justify-content-center">
                <div class="col-6 shadow-tabla ps-4 rounded-2">
                  <div class="row">
                    <div class="col-12 text-center">
                      <label class="color-blanco">Tiempo Total</label>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <div class="col-5">
                      <div class="row">
                        <div class="col-6 p-1">
                          <input
                            type="number"
                            min="0"
                            max="59"
                            class="w-100 form-control text-center"
                            disabled="disabled"
                            value="3"
                          />
                        </div>
                        <div class="col-6 p-1">
                          <input
                            type="number"
                            min="0"
                            max="59"
                            class="w-100 form-control text-center"
                            disabled="disabled"
                            value="0"
                          />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 text-center">
                          <label class="texto-mini">Minutos</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-1">
                      <label class="texto-mini p-0 pt-3">:</label>
                    </div>
                    <div class="col-5">
                      <div class="row">
                        <div class="col-6 p-1">
                          <input
                            type="number"
                            min="0"
                            max="59"
                            class="w-100 form-control text-center"
                            disabled="disabled"
                            value="0"
                          />
                        </div>
                        <div class="col-6 p-1">
                          <input
                            type="number"
                            min="0"
                            max="59"
                            class="w-100 form-control text-center"
                            disabled="disabled"
                            value="0"
                          />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 text-center">
                          <label class="texto-mini">Segundos</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 ps-5 pe-5 borde-derecho mb-3">
        <div class="row">
          <div class="col-5">
            <h3 class="letra-titulos-sec">Usuarios subscritos</h3>
          </div>
          <div class="col-4 text-start ps-0">
            <span class="badge bg-info">3</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table color-elementos shadow-oscuro table-dark table-hover ">
              <tbody >
                <tr>
                  <td class="pt-3 text-center">
                    <img src="../../assets/img/people-w.png" alt="" />
                  </td>
                  <td class="pt-3">Usuario 1</td>
                  <td class="text-center">
                    <img src="../../assets/img/Estrellas_1.png" alt="" />
                  </td>
                </tr>
                <tr>
                  <td class="pt-3 text-center">
                    <img src="../../assets/img/people-w.png" alt="" />
                  </td>
                  <td class="pt-3 ">Usuario 2</td>
                  <td class="text-center">
                    <img src="../../assets/img/Estrellas_2.png">
                  </td>
                </tr>
                <tr>
                  <td class="pt-3 text-center">
                    <img src="../../assets/img/people-w.png" alt="" />
                  </td>
                  <td class="pt-3 ">Usuario 3</td>
                  <td class="text-center">
                    <img src="../../assets/img/Estrellas_3.png">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-3">
            <h3 class="letra-titulos-sec">Comentarios</h3>
          </div>
          <div class="col-4 text-start ps-0">
            <span class="badge bg-info">1</span>
          </div>
        </div>
        <div class="row w-100 p-3 rounded-2 shadow-oscuro">
          <div class="col-12 w-100">
            <div class="row">
              <div class="col-1">
                <img src="../../assets/img/people-w.png" alt="" />
              </div>
              <div class="col-11">
                <label class="color-blanco">Usuario 1</label>
              </div>
            </div>
            <div class="row w-100 pt-3">
              <div class="col-10 w-100">
                <textarea cols="30" rows="2" class="w-100 form-control" [value]="text"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="mod-edit" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header color-header-modal justify-content-center p-1">
          <h1 class="modal-title color-text-header">Editar rutina</h1>
        </div>
        <div class="modal-body fondo-body-modal">
          <div class="row">
            <div class="col-12">
              <h3 class="color-blanco">Nombre</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <input type="text" class="w-100 form-control" value="Rutina 1" />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label class="texto-mini">Ingrese el nombre de la rutina</label>
            </div>
          </div>
          <div class="row pt-4">
            <div class="col-12">
              <h3 class="color-blanco">Descripción</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <textarea
                name="desc"
                class="w-100 form-control"
                cols="30"
                rows="3"
                [value]="text_edit"
              ></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label class="texto-mini"
                >Ingrese la descripción de la rutina</label
              >
            </div>
          </div>
          <div class="row pt-5">
            <div class="col-12">
              <h1 class="color-blanco">Series</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="row justify-content-center pt-2 ps-5 ms-5">
                <div class="row">
                  <div class="col-12 text-start">
                    <label class="color-blanco">Cantidad</label>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-4">
                    <input
                      type="number"
                      min="0"
                      max="99"
                      class="w-100 form-control text-center"
                      value="5"
                    />
                  </div>
                  <div class="col-2 p-0 text-center">
                    <a
                      class="btn btn-primary boto-crear boton-mini"
                      role="button"
                      >+</a
                    >
                  </div>
                  <div class="col-2 p-0 text-start">
                    <a
                      class="btn btn-primary boto-crear boton-mini"
                      role="button"
                      >-</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-12 text-start">
                  <label class="color-blanco">Tiempo</label>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-5">
                  <div class="row">
                    <div class="col-6">
                      <input
                        type="number"
                        min="0"
                        max="59"
                        class="w-100 form-control text-center"
                        value="0"
                      />
                    </div>
                    <div class="col-6">
                      <input
                        type="number"
                        min="0"
                        max="59"
                        class="w-100 form-control text-center"
                        value="5"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center">
                      <label class="texto-mini">Minutos</label>
                    </div>
                  </div>
                </div>
                <div class="col-1">
                  <label>:</label>
                </div>
                <div class="col-5">
                  <div class="row">
                    <div class="col-6">
                      <input
                        type="number"
                        min="0"
                        max="59"
                        class="w-100 form-control text-center"
                        value="0"
                        />
                    </div>
                    <div class="col-6">
                      <input
                        type="number"
                        min="0"
                        max="59"
                        class="w-100 form-control text-center"
                        value="0"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center">
                      <label class="texto-mini">Segundos</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-5">
            <div class="col-6">
              <div class="row justify-content-center pt-2 ps-5 ms-5">
                <div class="row">
                  <div class="col-12 text-start">
                    <label class="color-blanco">No. Descansos</label>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-4">
                    <input
                      type="number"
                      min="0"
                      max="99"
                      class="w-100 form-control text-center"
                      value="5"
                    />
                  </div>
                  <div class="col-2 p-0 text-center">
                    <a
                      class="btn btn-primary boto-crear boton-mini"
                      role="button"
                      >+</a
                    >
                  </div>
                  <div class="col-2 p-0 text-start">
                    <a
                      class="btn btn-primary boto-crear boton-mini"
                      role="button"
                      >-</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-12 text-start">
                  <label class="color-blanco">Tiempo de descanso</label>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-5">
                  <div class="row">
                    <div class="col-6">
                      <input
                        type="number"
                        min="0"
                        max="59"
                        class="w-100 form-control text-center"
                        value="0"
                      />
                    </div>
                    <div class="col-6">
                      <input
                        type="number"
                        min="0"
                        max="59"
                        class="w-100 form-control text-center"
                        value="1"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center">
                      <label class="texto-mini">Minutos</label>
                    </div>
                  </div>
                </div>
                <div class="col-1">
                  <label>:</label>
                </div>
                <div class="col-5">
                  <div class="row">
                    <div class="col-6">
                      <input
                        type="number"
                        min="0"
                        max="59"
                        class="w-100 form-control text-center"
                        value="0"
                      />
                    </div>
                    <div class="col-6">
                      <input
                        type="number"
                        min="0"
                        max="59"
                        class="w-100 form-control text-center"
                        value="0"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center">
                      <label class="texto-mini">Segundos</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer color-footer-modal">
          <a
            class="btn btn-primary boton-cancelar"
            data-bs-dismiss="modal"
            role="button"
            >Cancelar</a
          >
          <a
            data-bs-dismiss="modal"
            class="btn btn-primary boto-crear"
            role="button"
            >Actualizar</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="mod-del" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header color-header-modal justify-content-center p-1">
          <h1 class="modal-title color-text-header">Eliminar rutina</h1>
        </div>
        <div class="modal-body fondo-body-modal">
          <div class="row pt-4 pb-4">
            <div class="col-12">
              <label class="color-blanco">¿Esta seguro que desea eliminar la rutina?</label>
            </div>
          </div>
        </div>
        <div class="modal-footer color-footer-modal">
          <a
            class="btn btn-primary boton-cancelar"
            data-bs-dismiss="modal"
            role="button"
            >Cancelar</a
          >
          <a
            data-bs-dismiss="modal"
            class="btn btn-primary boto-crear"
            role="button"
            routerLink=""
            >Eliminar</a
          >
        </div>
      </div>
    </div>
  </div>

</div>
