<div class="color-fondo">
  <div class="row pt-5 justify-content-center">
    <div class="col-9">
      <h1 class="letra-titulos">Rutinas registradas</h1>
    </div>
    <div class="col-2 text-end">
      <a
        class="btn btn-primary boto-crear"
        role="button"
        >Crear rutina</a
      >
    </div>
  </div>
  <div class="row justify-content-center pt-5">
    <div class="col-11">
      <table class="table color-elementos shadow-tabla table-dark table-hover ">
        <thead>
          <tr class="">
            <th scope="col" class="col-2 text-start titulos-tabla">Nombre</th>
            <th scope="col" class="col-1 text-start titulos-tabla">Estado</th>
            <th scope="col" class="col-1 text-start titulos-tabla text-center">
              Cant. Series
            </th>
            <th scope="col" class="col-1 text-start titulos-tabla text-center">Duración</th>
            <th scope="col" class="col-1 text-start titulos-tabla">
              Calificación
            </th>
          </tr>
        </thead>
        <tbody >
          <tr routerLink="routine-detail">
            <td class="pt-3 mt-1">Rutina 1</td>
            <td>
              <span class="badge bg-info p-1">Publicada</span>
            </td>
            <td class="text-center pt-3 mt-1">5</td>
            <td class="pt-0">
              <div class="row justify-content-center">
                <div class="col-2 text-end">
                  <div class="row">
                    <div class="col-12 text-center small">
                      m
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center">
                      30
                    </div>
                  </div>
                </div>
                <div class="col-1 p-0">
                  <div class="row pt-3 mt-1">
                    <div class="col-12 text-center">
                      :
                    </div>
                  </div>
                </div>
                <div class="col-2 ps-0">
                  <div class="row">
                    <div class="col-12 text-center small">
                      s
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center">
                      00
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <img src="../../assets/img/Estrellas_1.png" alt="" />
            </td>
          </tr>
          <tr>
            <td class="pt-3 mt-1">Rutina 2</td>
            <td>
              <span class="badge bg-info p-1">Publicada</span>
            </td>
            <td class="text-center pt-3 mt-1">2</td>
            <td class="pt-0">
              <div class="row justify-content-center">
                <div class="col-2 text-end">
                  <div class="row">
                    <div class="col-12 text-center small">
                      m
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center">
                      15
                    </div>
                  </div>
                </div>
                <div class="col-1 p-0">
                  <div class="row pt-3 mt-1">
                    <div class="col-12 text-center">
                      :
                    </div>
                  </div>
                </div>
                <div class="col-2 ps-0">
                  <div class="row">
                    <div class="col-12 text-center small">
                      s
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center">
                      10
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <img src="../../assets/img/Estrellas_2.png">
            </td>
          </tr>
          <tr>
            <td class="pt-3 mt-1">Rutina 2</td>
            <td>
              <span class="badge bg-light text-dark p-1">Sin publicar</span>
            </td>
            <td class="text-center pt-3 mt-1">1</td>
            <td class="pt-0">
              <div class="row justify-content-center">
                <div class="col-2 text-end">
                  <div class="row">
                    <div class="col-12 text-center small">
                      m
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center">
                      20
                    </div>
                  </div>
                </div>
                <div class="col-1 p-0">
                  <div class="row pt-3 mt-1">
                    <div class="col-12 text-center">
                      :
                    </div>
                  </div>
                </div>
                <div class="col-2 ps-0">
                  <div class="row">
                    <div class="col-12 text-center small">
                      s
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center">
                      00
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
